.header {
    grid-area: h;
    background-color: aqua;
}

.header img {
    width: 68px;
}
.header_foto {
    width: 68px;
}
.login_block {
    float: right;
    color: white;
}

.login_block {
    color: black;
    margin-right: 20px;
}